
<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Keep Shopping', products_path, class: 'button is-warning' %>
</div>
<hr />
<section class="section">
  <%= render(@cart.line_items) %>

  <div class="columns">
    <div class="column">
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
    </div>
    <div class="column total has-text-right">
      <h4 class="title is-4">
        <% if subscribed? %>
        <span class="f5 has-text-grey">Subscription Total:</span>Rs:  <%= @cart.totall_price %>
        <% else %>
        <span class="f5 has-text-grey">Total:</span>Rs:  <%= @cart.total_price %>
        <% end %>
      </h4>
      <%= link_to 'Proceed to Pay',new_charge_path, class: 'button is-warning' %>

    </div>
  </div>
</section>
