<div class="columns">
  <div class="column is-8 is-centered">
    <%= simple_form_for([@product, review]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="columns">  

          <div class="field column is-9">
            <div class="control">
              <%= f.input :rating , required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field column is-9">
            <div class="control">
              <%= f.input :comment, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>
      
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= f.button :submit, class: 'button is-warning' %>
            <%= link_to 'Cancel', products_path, class:'button is-light' %>
          </div>
        </div>
        
    <% end %>
  </div>
</div>
