<div class="columns align-items-center">
  <div class="column is-1">
    <%= line_item.quantity %>
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
      <%= image_tag(line_item.product.image_url(:thumb)) %>
    </figure>
  </div>
  <div class="column is-9">
    <strong><%= line_item.product.name %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <strong>Seller's Name: <%= line_item.product.user.name %></strong>
      </div>
      <div class="column is-3 has-text-right">
        <%= link_to "Subscribe?", new_subscription_path %>
        <% if subscribed? %>
        <strong class="f4">Rs: <%= line_item.totall_price %></strong>
        <% else %>
        <strong class="f4">Rs: <%= line_item.total_price %></strong>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
</div>

<hr/ >
